@import url('https://fonts.googleapis.com/css?family=Anton');

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}

html {
    background-color: #222;
    
}

body {
    background: none;
    color: #eee;
}

.navbar-inverse {
    background-color: #111;

}

.panel {
    background-color: black;
    border-color: #111;
}
.panel-success > .panel-heading {
    color: black;
    background-color: #D4FF2C;
    font-size: 30px;
}

.panel-bold {
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    font-style: italic;
}

.main-nav li a.router-link-active, .main-nav li a.router-link-active:hover, .main-nav li a.router-link-active:focus {
    background-color: #D4FF2C;
    color: white;
}