@import url('https://fonts.googleapis.com/css?family=Anton|Pathway+Gothic+One');

body {
    background-color: #1f1f1f;
    color: white;
    height: 100vh;
}

#app {
    height: 100vh;
}
html {
    height: 100vh;
}
.main-nav li .glyphicon {
    margin-right: 10px;
}

/* Highlighting rules for nav menu items */
.main-nav li a.router-link-exact-active,
.main-nav li a.router-link-exact-active:hover,
.main-nav li a.router-link-exact-active:focus {
    background-color: #D4FF2C;
    color: black;
}

.font-anton {
    font-family: 'Anton', sans-serif;
    font-style: italic;

}

.font-pathway {
    font-family: 'Pathway Gothic One', sans-serif;
    text-transform: uppercase;

}
.font-100 {
    font-size: 100px;   
}

.font-75 {
    font-size: 75px;
}

.font-66 {
    font-size: 66px;
}

.font-50 {
    font-size: 50px;
}
.color-green {
    color:#d4ff2c
}
.massivewrapper {
    top: 50%;
    margin-top: -55px;
    position: absolute;
                
}
.vertical-align {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.panel {
    background-color: #111;
}

/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: black;
    border: none;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    font-size: 300%;
    color: #D4FF2C;
    font-style: italic;
}

.main-nav li a {
    font-family: 'Pathway Gothic One', sans-serif;
    text-transform: uppercase;
    font-size: 125%;
}

.navbar-inverse {
    background-color: black;
}

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
    .navbar {
        margin-bottom: 5px;
    }
}

@media (min-width: 768px) {
    /* On small screens, convert the nav menu to a vertical sidebar */
    .main-nav {
        height: 100%;
        width: calc(16% - 20px);
    }
    .main-nav .navbar {
        border-radius: 0px;
        border-width: 0px;
        height: 100%;
    }
    .main-nav .navbar-header {
        float: none;
    }
    .main-nav .navbar-collapse {
        border-top: 1px solid #444;
        padding: 0px;
    }
    .main-nav .navbar ul {
        float: none;
    }
    .main-nav .navbar li {
        float: none;
        font-size: 15px;
        margin: 6px;
    }
    .main-nav .navbar li a {
        padding: 10px 16px;
        border-radius: 4px;
    }
    .main-nav .navbar a {
        /* If a menu item's text is too long, truncate it */
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

   
   
}

@media (min-width: 992px) {
    .centerHack {
        margin-top: 128px;
    }
}


